@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-rose-990: rgb(51, 4, 19);
  }
}
* {
}
html {
  font-size: 100%;
}
body {
  @apply bg-rose-50 font-merriweather text-rose-990;
  /* margin-left: calc(100vw - 100%); */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-rose-50;
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.products-table > div {
  @apply truncate p-1;
}

main#contactPage label {
  @apply pl-2;
}
